In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("/content/jokes-data.csv")

In [3]:
ratings.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [4]:
ratings["user_id"].nunique()

40863

In [5]:
ratings["joke_id"].nunique()

139

In [6]:
ratings.shape

(1092059, 4)

In [7]:
### collaborative filtering

In [8]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)

In [9]:
### user_id, joke_id, rating

In [10]:
ratings = ratings.drop("id", axis = 1)

In [11]:
ratings

         user_id  joke_id  Rating
0          31030      110   2.750
1          16144      109   5.094
2          23098        6  -6.438
3          14273       86   4.406
4          18419      134   9.375
...          ...      ...     ...
1092054     9517      132   3.156
1092055    27767      118  -1.594
1092056    10580       81   2.000
1092057    31007      119   8.906
1092058     8420       98  -3.344

[1092059 rows x 3 columns]

In [12]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [13]:
### Define Reader  object

In [14]:
reader = Reader()

In [15]:
### create the dataset to be used for building the filter

In [18]:
data = Dataset.load_from_df(ratings, reader)

In [19]:
data

In [20]:
algo = KNNBasic()

In [21]:
algo2 = SVD()

In [22]:
from surprise.model_selection import cross_validate

In [23]:
cross_validate(algo2, data, measures = ["RMSE"], cv=5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.6720  4.6529  4.6643  4.6526  4.6549  4.6593  0.0076
Fit time          20.92   21.21   20.77   21.12   21.53   21.11   0.26
Test time         3.09    3.52    3.67    3.43    3.13    3.37    0.23

{'test_rmse': array([4.6719696 , 4.65293297, 4.66427519, 4.6526233 , 4.65486663]),
 'fit_time': (20.92429280281067,
  21.207940340042114,
  20.770517349243164,
  21.119823217391968,
  21.526217222213745),
 'test_time': (3.0932705402374268,
  3.524933338165283,
  3.668966054916382,
  3.431759834289551,
  3.1257970333099365)}